<% if  @id == false %>

	<div class="row">
	  <div class="col-md-12">
	    <h2 class="text-center">Algo salió mal</h2>
	    <div class="text-center">
	    	<%= image_tag("cryingcomputer.gif", alt: "We're sorry", loop: "infinite") %>
	    </div>
		</div>
	</div>

<% else %>

	<div class="row">
	  <div class="col-md-12">
	    <h2 class="text-center">¡Te queremos conocer mejor!</h2>
	    <h4 class="text-center">
	      Por favor completa estas preguntas para acceder a tu clase Demo.
	    </h4>
	  </div>
	</div>
	<div class="row">
	  <div class="col-md-8 col-md-offset-2">
	    <%= simple_form_for @contact, url: advance_form_path, method: "post" do |p| %>
	      <div class="form-group">
	        <%= p.input :knowledge, label: "¿Sabes algo de Programación o Desarrollo Web?",
	                                prompt: "-",
	                                collection: ["No sé nada",
	                                  "Solamente sé un poco",
	                                  "Sé algunas cosas",
	                                  "Ya sé bastante pero quiero mejorar"],
	                                input_html: { class: "form-control" } %>
	      </div>
	      <% if params[:phone] == "" %>
	        <div class="form-group">
	          <%= p.input :phone, label:"Déjanos tu teléfono o celular con lada",
	                              placeholder: "Ej. 52 1 5512956184",
	                              input_html: { class: "form-control" } %>
	        </div>
	        <p class="help-block">¿Quieres un servicio personalizado? Déjanos tu
	          teléfono para darle seguimiento a tu aplicación.</p>
	      <% else  %>
	        <input type="hidden" name="contact[phone]" value="<%= params[:phone] %>">
	      <% end %>
	      <div class="form-group">
	        <%= p.input :age, label:"¿Qué edad tienes?",
	                          placeholder: "Ej. 25",
	                          input_html: { class: "form-control" } %>
	      </div>
	      <div class="form-group">
	        <%= p.input :gender, label: "Género",
	                             prompt: "-",
	                             collection: ["Masculino", "Femenino"],
	                             input_html: { class: "form-control" } %>
	      </div>
	      <div class="form-group">
	        <%= p.input :activity, label: "¿A qué te dedicas?",
	                               prompt: "-",
	                               collection: [["Trabajo","Trabaja"],
	                                           ["Estudio","Estudia"],
	                                           ["Trabajo y estudio","Trabaja y Estudia"],
	                                           ["Otro","Ninguna"]],
	                               input_html: { class: "form-control" } %>
	      </div>
	      <div class="form-group">
	        <%= p.input :profession, label: "Profesión - ¿Qué carrera estudias?, si trabajas ¿a qué te dedicas?",
	                                placeholder: "Ej. Ingeniería en Computación - Desarrollador Web",
	                                input_html: { class: "form-control" } %>
	      </div>
	      <div class="form-group">
	        <%= p.input :profession_type, label: "¿Alguna de estas profesiones aplica a lo que te dedicas o estudias?",
	                                     prompt: "-",
	                                     collection: ["Desarrollo Web",
	                                                 "Desarrollo de Software",
	                                                 "Alguna Ingeniería",
	                                                 "Diseño Gráfico",
	                                                 "Marketing",
	                                                 "Otra"],
	                                     input_html: { class: "form-control" } %>
	      </div>
	      <div class="form-group">
	        <%= p.input :residence, label: "Residencia",
	                                prompt: "-",
	                                collection: [["Ciudad de México", "CDMX"],
	                                            ["Otro estado de la República", "República"],
	                                            ["Extranjero", "Extranjero"]],
	                                input_html: { class: "form-control" } %>
	      </div>
	      <div class="form-group">
	        <%= p.input :availability, label: "¿Qué modalidad te interesa?",
	                                   prompt: "-",
	                                   collection: ["Tiempo Completo",
	                                                "Medio Tiempo",
	                                                "Online",
	                                                "Cualquiera"],
	                                   input_html: { class: "form-control" } %>
	      </div>
	      <div class="form-group">
	        <%= p.input :payment_method, label: "¿Cómo te gustaría pagar el curso?",
	                                     prompt: "-",
	                                     collection: ["En una sola exhibición",
	                                                  "Parcialidades",
	                                                  "Financiamiento",
	                                                  "Otro"],
	                                     input_html: { class: "form-control" } %>
	      </div>
	      <input type="hidden" name="contact[zoho_id]" value="<%= @id %>">
	      <input type="hidden" name="contact[name]" value="<%= params[:name] %>">
	      <input type="hidden" name="contact[email]" value="<%= params[:email] %>">
	      <%= p.submit "Enviar Información", class: "btn btn-lg btn-primary btn-block" %>
	    <% end %>

	  </div>
	</div>

<% end %>

